/* 改变主题色变量 */
$--color-primary: #1F2A40;
$--color-text-primary: #101B2D;
$--color-info: #101B2D;
$--color-text-placeholder: #1F2A40; 
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";